<section
  class="contact-us animate__animated animate__fadeIn"
  style="text-align: start; padding-top: 150px"
>
  <div class="container">
    <div class="head">
      <h1 class="fw-bold" style="text-align: start">تواصل معنا</h1>
    </div>
    <div class="row mt-5 mb-5">
      <div class="col-md-5">
        <h3>اتصل بنا علي :</h3>
        <ul>
          <li>
            <img
              src="assets/images/phone-call-svgrepo-com.svg"
              alt="svgrepo"
              loading="lazy"
            />
            <a href="tel:+201094969284">+201094969284</a>
          </li>
          <li>
            <img
              src="assets/images/whatsapp-icon.png"
              alt="whatsapp"
              loading="lazy"
            />
            <a
              href="https://api.whatsapp.com/send?phone=201094969284&amp;text=Hello!"
              target="blank"
              >+201094969284</a
            >
          </li>
        </ul>
        <h3>ارسل لنا ايميل :</h3>
        <ul>
          <li>
            <img
              src="assets/images/email-svgrepo-com.svg"
              alt="email"
              loading="lazy"
            />
            <a href="mailto:sales@pomac.info">sales&#64;pomac.info</a>
          </li>
          <li>
            <img
              src="assets/images/email-svgrepo-com.svg"
              alt="svgrepo"
              loading="lazy"
            />
            <a href="mailto:HR@pomac.info">HR&#64;pomac.info</a>
          </li>
        </ul>
        <h3>عنواننا :</h3>
        <ul>
          <li>
            <img
              src="assets/images/location-svgrepo-com.svg"
              alt="location"
              loading="lazy"
            />
            <span> Alexandria, Egypt </span>
          </li>
        </ul>
      </div>
      <div class="col-md-7">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3411.7177442350962!2d29.9523786!3d31.2285484!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xdea67c0296a3081%3A0xbfa619e732ddaf9!2sPOMAC!5e0!3m2!1sen!2seg!4v1702293786480!5m2!1sen!2seg"
          width="100%"
          height="450"
          style="border: 0"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
        ></iframe>
        <!-- <iframe src="https://www.google.com/maps/embed?1EUsqA8B1pS8vLnm8" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe> -->
      </div>
      <!-- <div class="col-md-7">
                <form [formGroup]="form" (ngSumit)="onSubmit()" dir="{{ 'Contact.dir'| translate }}">
                    <div class="form-row">
                        <div class="col">
                            <mat-form-field appearance="outline" class="w-100">
                                <mat-label>{{ 'Contact.name'| translate }}</mat-label>
                                <input matInput placeholder="Enter Name..." formControlName="name">
                            </mat-form-field>
                            <div class="errors" *ngIf="submitted && f.name.errors">
                                <p class="text-danger mt-2 text-left" *ngIf="f.name.errors.required">This field is required</p>
                            </div>
                        </div>
                        <div class="col">
                            <mat-form-field appearance="outline" class="w-100">
                                <mat-label>{{ 'Contact.email'| translate }}</mat-label>
                                <input matInput placeholder="Enter Email..." formControlName="email">
                            </mat-form-field>
                            <div class="errors" *ngIf="submitted && f.email.errors">
                                <p class="text-danger mt-2 text-left" *ngIf="f.email.errors.required">This field is required</p>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col">
                            <mat-form-field appearance="outline" class="w-100">
                                <mat-label>{{ 'Contact.country'| translate }}</mat-label>
                                <input matInput placeholder="Enter Country..." formControlName="country">
                            </mat-form-field>
                            <div class="errors" *ngIf="submitted && f.country.errors">
                                <p class="text-danger mt-2 text-left" *ngIf="f.country.errors.required">This field is required</p>
                            </div>
                        </div>
                        <div class="col">
                            <mat-form-field appearance="outline" class="w-100">
                                <mat-label>{{ 'Contact.mob'| translate }}</mat-label>
                                <input matInput placeholder="Enter Mobile..." formControlName="phone">
                            </mat-form-field>
                            <div class="errors" *ngIf="submitted && f.phone.errors">
                                <p class="text-danger mt-2 text-left" *ngIf="f.phone.errors.required">This field is required</p>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col">
                            <mat-form-field appearance="outline" class="w-100">
                                <mat-label>{{ 'Contact.brief'| translate }}</mat-label>
                                <textarea matInput rows="10" formControlName="description"></textarea>
                            </mat-form-field>
                            <div class="errors" *ngIf="submitted && f.description.errors">
                                <p class="text-danger mt-2 text-left" *ngIf="f.description.errors.required">This field is required</p>
                            </div>
                        </div>
                    </div>
                    <div class="form-row mt-5">
                        <div class="col text-center">
                            <button (click)="onSubmit()" type="submit" class="btn btn-primary submit">{{ 'Contact.submit'| translate }}</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-5 text-center">
                <h3 class="fw-bold">{{ 'Contact.info_one'| translate }}</h3>
                <h2 class="fw-bold">{{ 'Contact.info_two'| translate }}</h2>
                <h1 class="fw-bold mb-3">{{ 'Contact.info_three'| translate }}</h1>
                <img src="assets/images/contact-us-icon.svg" class="w-100 contact-us-icon" alt="POMAC">
            </div> -->
    </div>
  </div>
</section>
