# Angular build output
dist/
build/

# Environment files
src/environments/

# Node
node_modules/

# Assets (تقيلة مش عايزها تترفع)
src/assets/

# Archives and compressed files
*.zip
*.rar
*.7z
*.tar
*.gz
*.iso

# Media heavy files
*.mp4
*.mov
*.avi
*.mkv
*.mp3
*.*
*.zip
