.hero {
  height: 100vh;
  width: 100%;
  //   position: relative;
  // background-image: url("../../../assets/images/home/main-slider/e0d5598c9209219057d2bdda9d2268acc23fb2a5 (1).jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  // background-attachment: fixed;
  will-change: transform;
  .overlay {
    height: 100%;
    width: 100%;
    background: linear-gradient(
      359.68deg,
      #000000 13.58%,
      rgba(0, 0, 0, 0.600683) 50.53%,
      rgba(0, 0, 0, 0) 97.98%
    );
  }
  .titles {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    h1 {
      color: #fff;
      font-size: 90px;
      font-weight: 700;
    }
    p {
      font-size: 36px;
      color: #fff;
      font-weight: 700;
      width: 75%;
      margin: 0 auto;
      span {
        color: rgba(148, 249, 249, 1);
      }
    }
    .scroll {
      position: relative;
      top: 50px;
      p {
        color: rgba(153, 153, 153, 1);
        font-size: 18px;
      }

      svg {
        margin-top: 20px;
        cursor: pointer;
        rect {
          transition: stroke 0.3s ease-in-out, fill 0.3s ease-in-out; /* إضافة transition للـ fill */
          fill: transparent; /* تأكد أن الخلفية شفافة بالافتراضي */
        }

        path {
          animation: arrowPointing 1.5s infinite ease-in-out;
          transform-origin: center 60%;
          transition: fill 0.3s ease-in-out;
        }

        &:hover {
          rect {
            stroke: #94f9f9;
            fill: #94f9f943; /* لون شبه شفاف */
          }
          path {
            fill: #94f9f9;
          }
        }
      }
      .heroBtn {
        width: 162px;
        height: 56px;
        opacity: 1;
        border-radius: 16px;
        margin-bottom: 20px;
      }
    }
  }
}
@keyframes bounceScroll {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  50% {
    transform: translateY(10px);
    opacity: 0.6;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes arrowPointing {
  0%,
  100% {
    transform: translateY(0) rotate(0deg);
  }
  50% {
    transform: translateY(5px); /* حركة تشبه الإشارة */
  }
}
.draw-arrow path {
  stroke: #94f9f9;
  fill: none;
  stroke-width: 4;
  stroke-linecap: round;
  stroke-dasharray: 1000;
  stroke-dashoffset: -500; /* لاحظ السالب هنا */
  animation: drawGrowth 3s ease-out forwards;
}
@keyframes drawGrowth {
  to {
    stroke-dashoffset: 0;
  }
}

@media only screen and (max-width: 1440px) {
  .hero {
    .titles {
      top: 60%;
      h1 {
        font-size: 50px;
      }
      p {
        font-size: 20px;
      }
      .scroll {
        top: 20px;
      }
    }
  }
}
@media only screen and (min-width: 1025px) {
  .heroBtn {
    display: none;
  }
}
@media only screen and (max-width: 1024px) {
  .hero {
    .titles {
      h1 {
        font-size: 40px;
      }
      p {
        font-size: 20px;
      }
    }
  }
}
@media only screen and (max-width: 767px) and (min-width: 425px) {
  .hero {
    .titles {
      width: 100%;
      h1 {
        font-size: 30px;
        svg {
          width: 90px;
          height: auto;
        }
      }
      p {
        font-size: 15px;
      }
      .scroll {
        p {
          font-size: 20px;
        }
        svg {
          width: 40px;
          height: auto;
        }
      }
    }
    .overlay {
      height: 100%;
      width: 100%;
      background: linear-gradient(
        359.68deg,
        #000 13.58%,
        rgba(0, 0, 0, 0.600683) 30.53%,
        rgba(0, 0, 0, 0) 97.98%
      );
    }
  }
  .heroBtn {
    margin-bottom: 30px !important;
  }
}
@media only screen and (max-width: 425px) {
  .hero {
    .titles {
      top: 70%;
      h1 {
        width: 100%;
        font-size: 35px;
        svg {
          width: 50px;
          height: auto;
        }
      }
      p {
        font-size: 15px;
      }
      .scroll {
        p {
          font-size: 12px;
        }
        svg {
          width: 35px;
          height: auto;
        }
      }
    }
    .overlay {
      height: 100%;
      width: 100%;
      background: linear-gradient(
        359.68deg,
        #000000 13.58%,
        rgba(0, 0, 0, 0.600683) 40.53%,
        rgba(254, 254, 254, 0) 100.98%
      );
    }
  }
}
@media only screen and (max-width: 375px) {
  .hero {
    .titles {
      top: 67%;
      h1 {
        width: 100%;
        font-size: 25px;
        svg {
          width: 20px;
          height: auto;
        }
      }
      p {
        font-size: 10px;
      }
    }
    .overlay {
      height: 100%;
      width: 100%;
      background: linear-gradient(
        359.68deg,
        #000000 13.58%,
        rgba(0, 0, 0, 0.600683) 20.53%,
        rgba(0, 0, 0, 0) 97.98%
      );
    }
  }
}
@media only screen and (max-width: 320px) {
  .hero {
    .titles {
      top: 70%;
      h1 {
        font-size: 20px;
        svg {
          width: 20px;
          height: auto;
        }
      }
      p {
        font-size: 10px;
      }
    }
  }
}
// .fade-in-title {
//   opacity: 0;
//   transform: translateY(20px);
//   animation: fadeUp 0.4s ease-out forwards;
// }
// .fade-in-p {
//   opacity: 0;
//   transform: translateY(20px);
//   animation: fadeUp 0.6s ease-out forwards;
// }
// .fade-in-section {
//   opacity: 0;
//   transform: translateY(20px);
//   animation: fadeUp 1s ease-out forwards;
// }

@keyframes fadeUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
