<section
  class="main-slider animate__animated animate__fadeIn mainSlider"
  dir="ltr"
  id="mainSlider"
>
  <div class="container">
    <div class="row">
      <article
        class="col-md-6 slider"
        [ngClass]="{
          'text-right': translate.currentLang == 'ar',
          'text-left': translate.currentLang != 'ar'
        }"
      >
        <!-- ✅ Static H1 to improve LCP -->
        <h1 class="fw-bold mt-5" *ngIf="!typedStarted">
          {{
            translate.currentLang == "ar"
              ? "برمجة منتجات تقنية"
              : "Design Products Sounds"
          }}
          <span
            class="typing"
            [style.color]="
              typedIndex == 0
                ? '#ff8636'
                : typedIndex == 1
                ? '#69BB00'
                : typedIndex == 2
                ? '#2D5EE6'
                : null
            "
          ></span>
        </h1>

        <!-- ✅ Animated version using ngx-typed-js -->
        <ngx-typed-js
          *ngIf="typedStarted"
          dir="rtl"
          (preStringTyped)="doSmth($event)"
          [strings]="
            translate.currentLang == 'ar' ? sliderTextArabic : sliderText
          "
          [shuffle]="true"
          [typeSpeed]="80"
          [backDelay]="1000"
          [loop]="true"
        >
          <h1 class="fw-bold mt-5">
            {{
              translate.currentLang == "ar"
                ? "برمجة منتجات تقنية"
                : "Design Products Sounds"
            }}
            <span
              class="typing"
              [style.color]="
                typedIndex == 0
                  ? '#ff8636'
                  : typedIndex == 1
                  ? '#69BB00'
                  : typedIndex == 2
                  ? '#2D5EE6'
                  : null
              "
            ></span>
          </h1>
        </ngx-typed-js>

        <!-- ✅ Static Paragraph for LCP -->
        <p
          class="mt-4 fw-bold"
          *ngIf="!typedStarted"
          [style.paddingLeft]="translate.currentLang == 'ar' ? '80px' : '0px'"
        >
          {{
            translate.currentLang == "ar"
              ? "نعمل على تحويل الأفكار إلى شركات ناجحة من خلال مجموعة كبيرة من الخدمات المحترفة"
              : "Because you deserve the best web design company and smart phone applications are keen to save your full rights"
          }}
        </p>

        <!-- ✅ Dynamic version after delay -->
        <p
          class="mt-4 fw-bold"
          *ngIf="typedStarted"
          [style.paddingLeft]="translate.currentLang == 'ar' ? '80px' : '0px'"
        >
          {{
            translate.currentLang == "ar"
              ? "نعمل على تحويل الأفكار إلى شركات ناجحة من خلال مجموعة كبيرة من الخدمات المحترفة"
              : "Because you deserve the best web design company and smart phone applications are keen to save your full rights"
          }}
        </p>
      </article>
      <div class="col-md-6 text-center" style="overflow: hidden">
        <div class="home_imgs">
          <div class="audio">
            <img
              src="assets/images/home/main-slider/image.svg"
              alt="Audio"
              loading="lazy"
              decoding="async"
            />
          </div>
          <div class="circle">
            <img
              src="assets/images/home/main-slider/image (1).svg"
              alt="Audio"
              loading="lazy"
              decoding="async"
            />
          </div>
          <div class="plus">
            <img
              src="assets/images/home/main-slider/image (2).svg"
              alt="Audio"
              loading="lazy"
              decoding="async"
            />
          </div>
          <div class="curve">
            <img
              src="assets/images/home/main-slider/image (3).svg"
              alt="Audio"
              loading="lazy"
              decoding="async"
            />
          </div>
          <img
            class="animate__animated animate__zoomIn animate__delay-1s img_1"
            width="30%"
            height="100%"
            style="margin: 0px 20px"
            src="assets/images/profile_avatar_5_.webp"
            alt="profile_avatar_5"
            loading="lazy"
            decoding="async"
          />
          <img
            class="animate__animated animate__zoomIn"
            width="50%"
            height="100%"
            style="margin: 0px 20px"
            src="assets/images/profile_avatar_9_.webp"
            alt="profile_avatar_9"
            loading="lazy"
            decoding="async"
          />
          <img
            class="animate__animated animate__zoomIn animate__delay-4s img_3"
            width="21%"
            height="100%"
            style="position: relative; top: -102px"
            src="assets/images/profile_avatar_6_.webp"
            alt="profile_avatar_6"
            loading="lazy"
            decoding="async"
          />
          <img
            class="animate__animated animate__zoomIn animate__delay-3s img_2"
            width="26%"
            height="100%"
            style="margin: 0px 20px; position: relative; top: -50px"
            src="assets/images/profile_avatar_7_.webp"
            alt="profile_avatar_7"
            loading="lazy"
            decoding="async"
          />
          <img
            class="animate__animated animate__zoomIn animate__delay-2s"
            width="43%"
            height="100%"
            src="assets/images/profile_avatar_8_.webp"
            alt="profile_avatar_8"
            loading="lazy"
            decoding="async"
          />
        </div>
      </div>
      <!-- <article class="col-md-6 stock-container d-none">
        <img
          class="path path-1"
          src="assets/images/home/main-slider/path-1.svg"
          alt="POMAC"
          loading="lazy"
        />
        <img
          class="path path-2"
          src="assets/images/home/main-slider/path-2.svg"
          alt="POMAC"
          loading="lazy"
        />
        <ul class="stock list-unstyled">
          <li
            *ngFor="let slide of sliderText; let index = index"
            [ngClass]="{ active: typedIndex == index }"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="100"
              height="21"
              viewBox="0 0 210 41"
            >
              <g>
                <g>
                  <path
                    fill="#dfdfdf"
                    [style.fill]="
                      typedIndex == index && typedIndex == 0
                        ? '#ff8636'
                        : typedIndex == index && typedIndex == 1
                        ? '#69BB00'
                        : typedIndex == index && typedIndex == 2
                        ? '#2D5EE6'
                        : null
                    "
                    d="M.264 40.888V.538h209.328v40.35z"
                  />
                </g>
                <g>
                  <path
                    fill="#f3f3f3"
                    d="M187.486 15.646a7.075 7.075 0 1 1 14.15 0 7.075 7.075 0 0 1-14.15 0z"
                  />
                </g>
                <g>
                  <path
                    fill="none"
                    stroke="#f3f3f3"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-miterlimit="20"
                    stroke-width="4"
                    d="M72.548 15.646H181.53"
                  />
                </g>
              </g>
            </svg>
          </li>
        </ul>
      </article> -->
    </div>
  </div>
</section>

<!-- <section class="main-slider animate__animated animate__fadeIn">
    <div class="container">
        <div class="row">
            <article class="col-md-6 pt-5 slider">
                <h1 class="fw-bold mt-5">Design Products Sounds
                    <owl-carousel-o [options]="main_slidder" #homeMainSlider
                     (change)="isDragging($event,'main')">
                        <ng-container *ngFor="let text of sliderText;let index =index">
                            <ng-template carouselSlide [id]="index">
                            <span class="active">{{text}}</span>
                            </ng-template>
                        </ng-container>
                    </owl-carousel-o>
                </h1>
                <p class="mt-4 fw-bold">Users only use the products which make them feel it's designed for them, users love our products.</p>
            </article>
            <article class="col-md-6 stock-container">
                <img class="path path-1" src="assets/images/home/main-slider/path-1.svg">
                <img class="path path-2" src="assets/images/home/main-slider/path-2.svg">
                <ul class="stock list-unstyled">
                    <li *ngFor="let slide of sliderText;let index = index" (click)="jumpTo(index,'main')" [ngClass]="{'active': mainSlidersStartPosition == index}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="100" height="21" viewBox="0 0 210 41"><g><g><path fill="#dfdfdf" d="M.264 40.888V.538h209.328v40.35z"/></g><g><path fill="#f3f3f3" d="M187.486 15.646a7.075 7.075 0 1 1 14.15 0 7.075 7.075 0 0 1-14.15 0z"/></g><g><path fill="none" stroke="#f3f3f3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="20" stroke-width="4" d="M72.548 15.646H181.53"/></g></g></svg>
                    </li>
                </ul>
            </article>
        </div>
    </div>
</section> -->
<br />
<section class="services Services" id="Services">
  <div class="container">
    <div class="head">
      <h1 class="fw-bold">{{ "HOME.services" | translate }}</h1>
      <!-- <p>{{ 'HOME.services_description'| translate }}</p> -->
    </div>
    <div class="row" *ngIf="!show">
      <div
        class="col-md-4"
        *ngFor="let item of [].constructor(6); let i = index"
      >
        <div class="ph-item" style="border: none">
          <div>
            <div class="ph-row">
              <div class="ph-col-4"></div>
              <div class="ph-col-8"></div>
              <div class="ph-col-12"></div>

              <div class="ph-col-12"></div>
            </div>
          </div>
          <div class="ph-col-2">
            <div class="ph-avatar"></div>
          </div>
          <div class="ph-col-12">
            <div>
              <div class="ph-row">
                <div class="ph-col-4"></div>
                <div class="ph-col-8"></div>
                <div class="ph-col-12"></div>

                <div class="ph-col-12"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="cards row" *ngIf="show">
      <div
        class="col-md-4"
        *ngFor="let service of home?.services.slice(0, 6)"
        data-aos="fade-up"
        data-aos-offset="120"
        data-aos-easing="ease-in-sine"
        data-aos-duration="600"
      >
        <div class="card border-0">
          <div class="card-body">
            <div class="row">
              <div class="pl-0 col-3">
                <img
                  src="{{ baseURL }}/{{ service.icon }}"
                  loading="lazy"
                  decoding="async"
                  alt="POMAC"
                  width="55"
                  height="55"
                  style="object-fit: contain"
                />
              </div>
              <div class="col-9 p-0 text-left">
                <h4>
                  {{
                    translate.currentLang == "ar"
                      ? service.name_AR
                      : service.name_EN
                  }}
                </h4>
              </div>
            </div>
            <div class="mt-3 row">
              <!-- {{service.short_description_EN}} -->
              {{
                translate.currentLang == "ar"
                  ? service.short_description_AR
                  : service.short_description_EN
              }}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="text-center mt-5" *ngIf="home?.services.length > 0">
      <a
        aria-labelledby="pomac"
        aria-label="pomac"
        [routerLink]="'/our-services'"
      >
        <button
          data-aos="zoom-in-up"
          data-aos-offset="100"
          data-aos-easing="ease-in-sine"
          data-aos-duration="400"
          style="
            cursor: pointer;
            border-radius: 10px;
            border: 1px solid #0f0f0f;
            background-color: #0f0f0f;
            color: #ffffff;
            padding: 10px 80px;
            margin: auto;
            font-size: 25px;
          "
        >
          عرض المزيد
        </button>
      </a>
    </div>
  </div>
</section>

<!-- <section id="home">
    <div class="container">
        <section class="main-slider">
            <div class="row">
                <article class="col-md-6">
                    <h1 class="fw-bold">Design Products Sounds <span class="active">Attractive</span> </h1>
                    <p class="mt-4 fw-bold">Users only use the products which make them feel it's designed for them, users love our products.</p>

                </article>
                <article class="col-md-6">
                    <img src="assets/images/main-slider.svg" class="w-100">
                    <ul class="stock list-unstyled">
                        <li class="active">
                            <svg xmlns="http://www.w3.org/2000/svg" width="100" height="21" viewBox="0 0 210 41"><g><g><path fill="#dfdfdf" d="M.264 40.888V.538h209.328v40.35z"/></g><g><path fill="#f3f3f3" d="M187.486 15.646a7.075 7.075 0 1 1 14.15 0 7.075 7.075 0 0 1-14.15 0z"/></g><g><path fill="none" stroke="#f3f3f3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="20" stroke-width="4" d="M72.548 15.646H181.53"/></g></g></svg>
                        </li>
                        <li *ngFor="let item of [].constructor(5)">
                            <svg xmlns="http://www.w3.org/2000/svg" width="100" height="21" viewBox="0 0 210 41"><g><g><path fill="#dfdfdf" d="M.264 40.888V.538h209.328v40.35z"/></g><g><path fill="#f3f3f3" d="M187.486 15.646a7.075 7.075 0 1 1 14.15 0 7.075 7.075 0 0 1-14.15 0z"/></g><g><path fill="none" stroke="#f3f3f3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="20" stroke-width="4" d="M72.548 15.646H181.53"/></g></g></svg>
                        </li>
                    </ul>

                </article>
            </div>
        </section>
        <section class="services">
            <div class="head">
                <h2>Services</h2>
                <p>We help your business to scale and transform through our services.</p>
            </div>
            <div class="cards row" >
                <div class="col-md-4" *ngFor="let service of services" data-aos="fade-up" data-aos-offset="120" data-aos-easing="ease-in-sine" data-aos-duration="600">
                    <div class="card border-0">
                        <div class="card-body">
                            <div class="row">
                                <div class="pl-0 col-3">
                                    <img src="{{service.icon_path}}" class="w-100">
                                </div>
                                <div class="col-9 p-0 text-left">
                                    <h4>{{service.title}}</h4>
                                </div>
                            </div>
                            <div class="mt-3 row">
                                {{service.description}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</section> -->
<section
  class="new_section"
  style="background: #f9f9f9"
  data-aos="fade-up"
  data-aos-offset="200"
  data-aos-easing="ease-in-sine"
  data-aos-duration="400"
>
  <div class="container">
    <div class="head">
      <h1 class="fw-bold">
        {{ translate.currentLang == "ar" ? "القطاعات  المستهدفة" : "Process" }}
      </h1>
      <!-- <p>نحن نساعد عملك على التوسع والتحول من خلال خدماتنا.</p> -->
    </div>
  </div>
  <div class="container">
    <div class="row" *ngIf="!show">
      <div
        class="col-lg-4 project"
        *ngFor="let item of [].constructor(3); let i = index"
      >
        <div class="ph-item" style="border: none">
          <div class="ph-col-12">
            <div class="ph-picture" style="min-height: 200px"></div>
            <div class="ph-row">
              <div class="ph-col-2 empty big"></div>
              <div class="ph-col-10 big"></div>
              <div class="ph-col-8 empty"></div>
              <div class="ph-col-4"></div>
              <div class="ph-col-6 empty"></div>
              <div class="ph-col-6"></div>

              <div class="ph-col-12"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row" *ngIf="show">
      <div class="col-md-6 col-lg-4 col-sm-6" *ngFor="let item of sections">
        <div
          class="card"
          data-aos="zoom-in"
          data-aos-easing="ease-in-sine"
          data-aos-duration="600"
        >
          <img
            [src]="'https://pomac.info/api/backend/public/' + item.image"
            alt="image"
            width="100%"
            loading="lazy"
            decoding="async"
            style="object-fit: cover"
          />
          <h4 class="mt-4 mb-2">
            {{ item.title }}
          </h4>
          <p>{{ item.description }}</p>
        </div>
      </div>

      <!-- <div class="col-md-4">
    <div class="card">
      <img src="assets/images/step_1.svg" alt="">
      <h4>
        المناقشة</h4>

</div>
</div>
<div class="col-md-4">
    <div class="card">
      <img src="assets/images/step_2.svg" alt="">
      <h4>
        تحديد العمليات </h4>

</div>
</div>
<div class="col-md-4">
    <div class="card">
      <img src="assets/images/step_3.svg" alt="">
      <h4>
        التصميم الأولى</h4>

</div>
</div>
<div class="col-md-4">
    <div class="card">
      <img src="assets/images/step_4.svg" alt="">
      <h4>
        التطوير</h4>

</div>
</div>
<div class="col-md-4">
    <div class="card">
      <img src="assets/images/step_5.svg" alt="">
      <h4>
         الإطلاق</h4>

</div>
</div>
<div class="col-md-4">
    <div class="card">
      <img src="assets/images/step_6.svg" alt="">
      <h4>
       التحسين </h4>

</div>
</div> -->
    </div>
    <div class="text-center" *ngIf="home?.sections?.length != section_count">
      <button
        (click)="addsections()"
        class="mt-4 addSectionBtn"
        data-aos="zoom-in-up"
        data-aos-offset="100"
        data-aos-easing="ease-in-sine"
        data-aos-duration="400"
      >
        عرض المزيد
      </button>
    </div>
  </div>
</section>
<section
  class="projects projects__"
  style="overflow: hidden !important"
  id="projects"
>
  <div class="head">
    <h1 class="fw-bold">
      <!-- {{ translate.currentLang == 'ar' ? 'المشاريع' : 'Projects' }} -->
      <!-- projects02 : remove  the text under projects title from "We help your business to scale and transform through our services. " & change the title to be "Our work " > أعمالنا  -->
      {{ translate.currentLang == "ar" ? "أعمالنا" : "Our work" }}
    </h1>
    <!-- <p>
      نجح استوديو الشركات الناشئة بوماك في  تنفيذ العديد من الشركات في قطاعات  تقنية واعدة مثل تقنيات التعليم والتجارة الإلكترونية والبرمجيات كخدمة والخدمة عبر البرمجيات
    </p> -->
  </div>
  <!-- src/assets/zabah.mp4 -->

  <!-- <a aria-labelledby="pomac" aria-label="pomac"  href="javascript:void(0)" target="_blank" class="">
        <video class="w-100 inner"   id="video_player">
            <source src="assets/zabah.mp4" type="video/mp4">
            Your browser does not support the video tag.
          </video>
    </a> -->

  <div class="container">
    <div class="row" *ngIf="!show">
      <div
        class="col-lg-6 project"
        *ngFor="let item of [].constructor(4); let i = index"
      >
        <div class="ph-item" style="border: none">
          <div class="ph-col-12">
            <div class="ph-picture" style="min-height: 300px"></div>
            <div class="ph-row">
              <div class="ph-col-2 empty big"></div>
              <div class="ph-col-10 big"></div>
              <div class="ph-col-8 empty"></div>
              <div class="ph-col-4"></div>
              <div class="ph-col-6 empty"></div>
              <div class="ph-col-6"></div>
              <div class="ph-col-12"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row" *ngIf="show">
      <div
        class="col-lg-6 project"
        *ngFor="let project of home?.projects.slice(0, 4); let index = index"
      >
        <div
          class="card mb-4"
          [attr.data-aos]="index % 2 != 0 ? 'fade-up-left' : 'fade-up-right'"
          data-aos-offset="120"
          data-aos-easing="ease-in-sine"
          data-aos-duration="600"
          style="width: 100%; direction: rtl; position: relative"
          [routerLink]="['/our-work', project.id, project.name_EN]"
        >
          <span
            *ngIf="project.stage == 'coming_soon'"
            style="position: absolute; top: 20px; right: 20px"
          >
            <img
              src="assets/images/home/main-slider/image (4).svg"
              alt="image"
              loading="lazy"
              decoding="async"
            />
          </span>
          <div class="bg-image">
            <img
              loading="lazy"
              src="{{ baseURL }}/{{ project.path.main_image }}"
              alt="POMAC"
              class="card-img-top img w-100"
              decoding="async"
            />
          </div>
          <div class="card-body p-3">
            <!--
            <div class="img " style="background-image: url({{baseURL}}/{{project.path.main_image}}) ; " [style.background-color]="project.main_color" ></div>

            </div> -->
            <h5
              class="card-title mt-3 name fw-bold text-capitalize"
              style="text-align: start !important"
            >
              {{ project.name_AR }}
            </h5>
            <p class="card-text mb-2" style="text-align: start !important">
              {{
                project.short_description_AR.length > 50
                  ? project.short_description_AR.substring(0, 200) + "..."
                  : project.short_description_AR
              }}
            </p>
            <p style="text-align: start !important; font-weight: 600">
              بلد التشغيل :
              <img
                src="assets/images/project-details/img_country.svg"
                alt="img_country"
                width="30"
                height="30"
                loading="lazy"
                decoding="async"
                style="margin-left: 10px"
              />
              <span style="font-weight: 500">المملكه العربية السعودية</span>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="text-center mb-4 mt-3" *ngIf="home?.projects.length > 0">
      <a aria-labelledby="pomac" aria-label="pomac" [routerLink]="'/our-work'">
        <button
          data-aos="zoom-in-up"
          data-aos-offset="100"
          data-aos-easing="ease-in-sine"
          data-aos-duration="400"
          class="addSectionBtn"
        >
          عرض المزيد
        </button>
      </a>
    </div>
  </div>
</section>
<section
  class="contact-us animate__animated animate__fadeIn"
  style="text-align: start; padding-top: 50px"
>
  <div class="container my-5">
    <div class="head">
      <h1
        class="fw-bold mb-3"
        style="text-align: center"
        data-aos="zoom-in"
        data-aos-offset="200"
        data-aos-easing="ease-in-sine"
        data-aos-duration="600"
      >
        الأسئلة الشائعة
      </h1>
      <!-- <p>
  في هذا القسم تم حصر أكثر الأسئلة التي يحتاجها رواد الأعمال معرفتها  عن استوديو الشركات الناشئة بوماك وإذا لم تتمكن من العثور على السؤال، استخدم  نموذج اتصل بنا أسفل الصفحة ، ونحن مستعدون للمساعدة.
 </p> -->
    </div>
    <div *ngIf="!show">
      <div
        class="ph-item"
        *ngFor="let item of [].constructor(5); let i = index"
      >
        <div class="ph-col-12">
          <div class="ph-row">
            <div class="ph-col-12 big"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <!-- Loading Skeleton (unchanged) -->
      <div *ngIf="!show">
        <div class="ph-item" *ngFor="let item of [].constructor(5)">
          <div class="ph-col-12">
            <div class="ph-row">
              <div class="ph-col-12 big"></div>
            </div>
          </div>
        </div>
      </div>

      <!-- Updated Bootstrap 5 Accordion -->
      <div class="accordion my-5" id="faqAccordion" *ngIf="show">
        <div
          class="accordion-item mb-3"
          *ngFor="let item of home?.faqs; let i = index"
          data-aos="zoom-in"
          data-aos-easing="ease-in-sine"
          data-aos-duration="600"
        >
          <h2 class="accordion-header" id="heading{{ i }}">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              [attr.data-bs-target]="'#collapse' + i"
              aria-expanded="false"
              [attr.aria-controls]="'collapse' + i"
            >
              <span
                class="d-flex justify-content-between align-items-center w-100"
              >
                {{ item.question }}
              </span>
            </button>
          </h2>

          <div
            [id]="'collapse' + i"
            class="accordion-collapse collapse"
            [attr.aria-labelledby]="'heading' + i"
            data-bs-parent="#faqAccordion"
            (shown.bs.collapse)="item.show = true"
            (hidden.bs.collapse)="item.show = false"
          >
            <div class="accordion-body">
              <p [innerHTML]="item.answer"></p>
            </div>
          </div>
        </div>
      </div>

      <!-- Unchanged button -->
    </div>
    <a aria-labelledby="pomac" aria-label="pomac" [routerLink]="'/faq'">
      <button
        data-aos="zoom-in-up"
        data-aos-offset="100"
        data-aos-easing="ease-in-sine"
        data-aos-duration="400"
        class="addSectionBtn d-block"
      >
        عرض المزيد
      </button>
    </a>
  </div>
</section>
<!-- <section class="testimonials">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="head text-left ">
          <h5 class="fw-bold">Our Clients Testimonials</h5>
          <p class="m-0">The satisfaction of our customers is one of our most important concerns.</p>
        </div>

        <owl-carousel-o [options]="testimonial_slidder" #testimonialsSlider
          (dragging)="isDragging($event,'testimonials')">
          <ng-container *ngFor="let client of home.testimonials;let index =index">
            <ng-template carouselSlide [id]="index">
              <div class="row">
                <div class="col-auto">
                  <img src="{{baseURL}}/{{client.logo}}" class="rounded-circle" style="width: 50px;height: 50px;">
                </div>
                <div class="col">
                  <h5 class="fw-bold text-capitalize">{{client.name}}</h5>
                  <h6 class="fw-bold text-capitalize">{{client.company}}</h6>
                  <p class="mt-3 comment text-capitalize">{{client.review}}</p>
                </div>
              </div>
            </ng-template>
          </ng-container>
        </owl-carousel-o>
      </div>
      <div class="col-md-6 logos p-4">
        <div class="row">
          <div class="image-preview col-md-4 mb-5" *ngFor="let image of home.testimonials;let index = index"
            (click)="jumpTo(index,'testimonials')" [ngClass]="{'active': testimonialsStartPosition == index}">
            <img src="{{baseURL}}/{{image.logo}}" class="w-100 ">
          </div>
        </div>

      </div>
    </div>
  </div>
</section> -->
<section class="idea">
  <div class="container">
    <h2>
      {{ translate.currentLang == "ar" ? "عندك" : "You have" }}
      <!-- -->
      <label
        data-aos="zoom-in"
        data-aos-offset="200"
        data-aos-easing="ease-in-sine"
        data-aos-duration="600"
      >
        {{ translate.currentLang == "ar" ? "فكرة مشروع" : "project idea" }}
      </label>

      <!-- تواصل معنا وأبدأ خطوات تنفيذ فكرتك -->
      {{
        translate.currentLang == "ar"
          ? "تواصل معنا وأبدأ خطوات تنفيذ فكرتك"
          : "Contact us and start the steps of implementing your idea"
      }}
      <!-- {{ translate.currentLang == 'ar' ? home_data.ques_ar : home_data.ques_en }}
      <label data-aos="zoom-in" data-aos-offset="200" data-aos-easing="ease-in-sine" data-aos-duration="600">{{
        translate.currentLang == 'ar' ? home_data.idea_ar : home_data.idea_en }} </label>
      <label data-aos="zoom-in-left" data-aos-offset="200" data-aos-easing="ease-in-sine" data-aos-duration="400">{{
        translate.currentLang == 'ar' ? home_data.mark_ar : home_data.mark_en }} </label>
      <br> {{ translate.currentLang == 'ar' ? home_data.talk_ar : home_data.talk_en }} -->
    </h2>
    <!-- <p class="text-secondary">

    </p> -->
    <a
      aria-labelledby="pomac"
      aria-label="pomac"
      target="_blank"
      href="https://api.whatsapp.com/send?phone=201094969284"
    >
      <button
        data-aos="zoom-in-up"
        data-aos-offset="100"
        data-aos-easing="ease-in-sine"
        data-aos-duration="400"
      >
        {{
          translate.currentLang == "ar"
            ? home_data.contact_ar
            : home_data.contact_en
        }}
      </button>
    </a>
  </div>
</section>
