.blog_details {
    // padding: 100px 0;
    text-align: right;
    * {
        font-weight: 500;
        line-height: 30px;
    }
    p,
    span {
        font-size: 20px !important;
    }
    p {
        img {
            width: 20px !important;
        }
    }
}

.blog-title {
    line-height: 60px !important;
}

.blog-image {
    max-width: 100%;
    max-height: 600px;
    // border-radius: 10px;
    object-fit: contain;
    margin-bottom: 20px;
}

.headlines {
    background-color: #2d5ee61a;
    border-radius: 8px;
}

.relative_blogs {
    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0); // initially transparent
        z-index: 2;
        border-radius: inherit;
        transition: background 0.3s ease;
        pointer-events: none; // optional if you want clicks to go through
        display: flex;
        justify-content: center;
        align-items: center;
        .btn {
            position: absolute;
            display: none;
            padding: 4px 8px !important;
        }
    }
    .card {
        // box-shadow: 0px 6px 20px 0px #0000000d;
        // border-radius: 12px;
        border: none;
        transition: 0.5s;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        background-color: transparent;
        position: relative;
        &:hover .overlay {
            background: rgba(0, 0, 0, 0.691);
            .btn {
                display: block;
            }
        }
        img {
            width: 100%;
            height: 267px;
            /* Increased image height */
            object-fit: cover;
            border-radius: 8px;
        }
        h5 {
            font-size: 18px;
            font-weight: bold;
            margin-bottom: 10px;
            line-height: 1.5;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            min-height: 54px;
            /* 18px * 1.5 * 2 lines */
        }
        .category {
            margin-top: 12px;
            color: #000;
            font-weight: 500;
            font-size: 16px;
        }
    }
}

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 30px 0px;
    gap: 20px;
    padding-block: 80px;
    background-image: url("/assets/Frame 1000003834.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 16px;
    p {
        // font-size: 18px;
        font-weight: 500;
    }
    span {
        color: #fff;
        font-size: 2.5rem !important;
    }
    @media screen and (max-width: 768px) {
        width: 90%;
        margin: auto;
        margin-bottom: 40px;
        h1 {
            width: 70% !important;
            margin: auto;
            span {
                font-size: calc(1.375rem + 1.5vw) !important;
            }
        }
        p {
            width: 70% !important;
            margin: auto;
        }
    }
}

.wave-button {
    width: 100%;
    max-width: 250px;
    padding: 15px 20px;
    position: relative;
    display: inline-block;
    text-decoration: none;
    overflow: hidden;
    background: none;
    border: none;
    cursor: pointer;
    border-radius: 8px;
}

.wave-button span {
    position: relative;
    z-index: 1;
    color: white;
    font-size: 18px !important;
    letter-spacing: 1px;
    white-space: nowrap;
}

.wave-button .wave {
    width: 100%;
    height: 200px;
    background-color: #444857;
    box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5);
    position: absolute;
    left: 0;
    top: -80px;
    transition: 0.4s;
    z-index: 0;
    pointer-events: none;
}

.wave-button:hover .wave {
    top: -120px;
}

.wave-button .wave::before,
.wave-button .wave::after {
    width: 200%;
    height: 200%;
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -75%);
}

.wave-button .wave::before {
    border-radius: 45%;
    background-color: rgba(20, 20, 20, 1);
    animation: wave 5s linear infinite;
}

.wave-button .wave::after {
    border-radius: 40%;
    background-color: rgba(20, 20, 20, 0.5);
    animation: wave 10s linear infinite;
}

@keyframes wave {
    0% {
        transform: translate(-50%, -75%) rotate(0deg);
    }
    100% {
        transform: translate(-50%, -75%) rotate(360deg);
    }
}

@media (max-width: 480px) {
    .wave-button {
        max-width: 90%;
        padding: 12px 16px;
    }
    .wave-button span {
        font-size: 13px;
        letter-spacing: 0.5px;
    }
    .wave-button .wave {
        // height: 150px;
    }
}

.desc {
    color: #fff;
    span {
        font-size: 16px !important;
        font-weight: bold;
    }
}

.category {
    margin-top: 12px;
    color: #000;
    font-weight: 500;
    font-size: 16px;
}