.blog_details {
  // padding: 100px 0;
  text-align: right;
  * {
    font-weight: 500;
    line-height: 30px;
  }
  p,
  span {
    font-size: 20px !important;
  }
}
.blog-title {
  line-height: 60px !important;
}
.blog-image {
  max-width: 100%;
  max-height: 600px;
  // border-radius: 10px;
  object-fit: contain;
  margin-bottom: 20px;
}
.headlines {
  background-color: #2d5ee61a;
  border-radius: 8px;
  ul {
    li {
      list-style: "-";
      font-size: 15px;
      line-height: 30px;
      margin-bottom: 10px;
      font-weight: 500;
      padding: 0px 10px;
      a {
        color: #333;
        text-decoration: none;
      }
    }
  }
}
.relative_blogs {
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0); // initially transparent
    z-index: 2;
    border-radius: inherit;
    transition: background 0.3s ease;
    pointer-events: none; // optional if you want clicks to go through
    display: flex;
    justify-content: center;
    align-items: center;
    .btn {
      position: absolute;
      display: none;
      padding: 4px 8px !important;
    }
  }

  .card {
    // box-shadow: 0px 6px 20px 0px #0000000d;
    // border-radius: 12px;
    border: none;
    transition: 0.5s;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-color: transparent;
    position: relative;

    &:hover .overlay {
      background: rgba(0, 0, 0, 0.691);
      .btn {
        display: block;
      }
    }

    .btn {
      height: 50px;
      margin-top: auto; /* Push button to bottom */
      border-radius: 6px;
      font-weight: 600;
    }

    img {
      width: 100%;
      height: 267px; /* Increased image height */
      object-fit: cover;
      border-radius: 8px;
    }

    h5 {
      font-size: 18px;
      font-weight: bold;
      margin-bottom: 10px;
      line-height: 1.5;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      min-height: 54px; /* 18px * 1.5 * 2 lines */
    }
    .category {
      margin-top: 12px;
      color: #000;
      font-weight: 500;
      font-size: 16px;
    }
  }
}
